<div class="pt-5 mb-8 font-bold 2xl:w-1/2 mx-auto items-center shadow-2xl">
  <div class="pb-8 pl-8 pr-8 2xl:w-auto sm:w-48 ">
    <%= form_with(model: author) do |form| %>
      <% if author.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

          <ul>
            <% author.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-control">
        <%= form.label :fullName, class:"dark:text-white" %>
        <%= form.text_field :fullName, class:"input input-bordered h-8" %>
      </div>

      <div class="form-control">
        <%= form.label :description, class:"dark:text-white" %>
        <%= form.text_area :description, class:"textarea h-24 textarea textarea-bordered" %>
      </div>

      <div class="form-control">
        <%= form.label :country, class:"dark:text-white" %>
        <%= form.text_field :country, class:"input input-bordered h-8" %>
      </div>

      <div class="actions form-control pt-5">
        <%= form.submit 'Create Author', class:"btn btn-primary h-8" %>
      </div>
    <% end %>
  </div>
</div>