<div class="dark:text-white">
  <% @books.each do |book| %>
    <div class="card lg:card-side bordered">
      <figure>
        <img src="https://picsum.photos/id/1005/400/250">
      </figure> 
      <div class="card-body">
        <h2 class="card-title"><%= book.title %></h2> 
        <p><%= book.description %></p> 
        <div class="card-actions">
          <%= link_to 'Show', book, class:"btn btn-secondary" %> 
          <%= link_to 'Add to my library', book, class:"btn btn-secondary" %> 
        </div>
      </div>
    </div>
  <% end %>

  <br>

  <div class="btn-group sm:w-1/2 ">
    <button class="btn btn-secondary">Previous Page</button> 
    <button class="btn btn-secondary">Next Page</button>
  </div>

  <%= link_to 'New Book', new_book_path %>
</div>