<div class="dark:text-white">
  <p id="notice"><%= notice %></p>

  <h1 class="dark:text-white">Loans</h1>

  <table class="shadow-lg mx-auto">
    <thead>
      <tr class="text-white">
        <th class="bg-primary text-left px-8 py-4">User</th>
        <th class="bg-primary text-left px-8 py-4">Book</th>
        <th class="bg-primary text-left px-8 py-4">Start date</th>
        <th class="bg-primary text-left px-8 py-4">End date</th>
        <th class="bg-primary text-left px-8 py-4">Active</th>
        <th class="bg-primary text-center px-8 py-4" colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @loans.each do |loan| %>
        <tr>
          <td class="border px-8 py-4">
            <%= image_tag url_for(loan.user.avatar), class:"h-10 w-10 rounded-full lg:mx-8" %>
            <%= loan.user.firstName + " " + loan.user.lastName %>
          </td>
          <td class="border px-8 py-4"> <a href="/books/<%= loan.book.id %>"> <%= loan.book.title %> </a> </td>
          <td class="border px-8 py-4"> <%= loan.start_date %> </td>
          <td class="border px-8 py-4"><%= loan.end_date %></td>
          <td class="border px-8 py-4"><%= loan.active %></td>
          <td class="border px-8 py-4"><%= link_to 'Show', loan %></td>
          <td class="border px-8 py-4"><%= link_to 'Edit', edit_loan_path(loan) %></td>
          <td class="border px-8 py-4"><%= link_to 'Destroy', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Loan', new_loan_path, class:"btn btn-primary"%>
</div>