<div class="pt-5 mb-8  font-bold 2xl:w-1/2 mx-auto shadow-2xl ">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="pb-8 pl-8 pr-8 2xl:w-auto sm:w-48">
    <div class="form-control">
      <%= f.label :email, class:"dark:text-white" %>
      <%= f.email_field :email, autocomplete: "email", class:"input input-bordered h-10" %>
    </div>

    <div class="form-control">
      <%= f.label :password, class:"dark:text-white" %>
      <%= f.password_field :password, autocomplete: "current-password", class:"input input-bordered h-10" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="p-8">
          <label class="cursor-pointer label">
            <span class="label-text dark:text-white">Remember me</span> 
            <div>
               <%= f.check_box :remember_me, class:"checkbox checkbox-primary"%>
              <span class="checkbox-mark"></span>
            </div>
          </label>
      </div>
    <% end %>

    <div class="actions form-control ">
      <%= f.submit "Log in", class:"btn btn-primary " %>
    </div>
  <% end %>
  <br>
  <%= render "devise/shared/links" %>
  </div>  
</div>
