<!DOCTYPE html>
<% if user_signed_in? %>
  <html class="<%= html_class current_user %>">
<% else %>
  <html>
<% end %>
  <head>
    <title>AppBookRepository</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.7.570/build/pdf.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@0.19.1/dist/full.css" rel="stylesheet" type="text/css" />
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="dark:bg-gray-800">
    <% if user_signed_in? %>
    <%= render 'partials/authenticated_navbar' %>
    <% else %>
    <%= render 'partials/unauthenticated_navbar' %>
    <% end %>
    <div class="container mx-auto">
      
      <% if notice %>

        <div class="alert alert-info">
          <div class="flex-1">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-6 h-6 mx-2 stroke-current">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!---->
            </svg> 
            <label><%= notice %></label>
          </div>
        </div>
        
      <% end %>
      
      <% if alert %>
        <span class="dark:text-white"><%= alert %></span>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
