<!DOCTYPE html>
<% if user_signed_in? %>
  <html class=" <%= current_user.dark? && 'dark'%> ">
<% else %>
  <html>
<% end %>
  <head>
    <title>AppBookRepository</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.7.570/build/pdf.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@0.19.1/dist/full.css" rel="stylesheet" type="text/css" />
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="dark:bg-gray-800">
    <%= render 'partials/navbar' %>
    <div class="container mx-auto">
      <%= notice %></p>
      <%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
